* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #23155b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 24px;
  /* position: fixed;
  top: 0;
  z-index: 1px; */
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 4px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  cursor: pointer;
}
.menu {
  display: flex;
  gap: 24px;
}
.link {
  padding: 4px;
  gap: 10px;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
}
.button {
  display: flex;
  gap: 60px;
}
.primary_button {
  gap: 10px;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #8053ff;
  color: #fff;
}
.primary_secondary {
  gap: 10px;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #8053ff;
  border: 2px solid #8053ff;
}
.main_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 796px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 596px;
  width: 100%;
}
.conteudo {
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 385px 168px;
  gap: 40px;
}
.bold {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
}
.bold > p {
  font-size: 24px;
  font-weight: 400;
}
.navs {
  display: flex;
  gap: 12px;
}
.secondary_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 164px;
  width: 100%;
}
.text {
  display: flex;
  font-size: 24px;
  padding-bottom: 48px;
  gap: 24px;
}
.patrocinio {
  display: flex;
  gap: 20px;
}
.container_traditional {
  display: flex;
  justify-content: space-between;
  height: 648px;
  width: 1110px;
  padding-top: 150px;
}
.esquerda {
  text-align: left;
  width: 50vw;
  font-size: 52px;
  word-break: break-all;
}
#diferente_text {
  color: #8053ff;
}
#diferente_text_lista {
  color: #8053ff;
  font-weight: bold;
}
.lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.custom {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: -7px 22px 27px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 22px 27px -23px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 22px 27px -23px rgba(0, 0, 0, 0.75);

  height: 104px;
  font-size: 16px;
  font-weight: 500;
}
.projects {
  width: 1110px;
}
.investors {
  margin-top: 150px;
}
.cabecalho__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
}
.cabecalho__text h1 {
  font-size: 52px;
  font-weight: bold;
}
.cabecalho__text p {
  font-size: 18px;
  font-weight: 400;
}
.lista-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 0;
  margin-top: 1em;
  list-style: none;
}
.custom-col {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: -7px 22px 27px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 22px 27px -23px rgba(0, 0, 0, 0.5);
  box-shadow: -7px 22px 27px -23px rgba(0, 0, 0, 0.5);

  height: 104px;
  font-size: 16px;
  font-weight: 500;
}
.text-col h3 {
  color: #23155b;
}
.text-col p {
  color: #928cab;
  font-weight: 800;
}
.buttons {
  display: flex;
  gap: 12px;
  margin-top: 3em;
}
.section_men{
  margin-top: -150px;
  margin-bottom: 150px;
}
.men {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 150px; */
}
.esquerda {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.imagem_men img {
  height: 75vh;
  border-radius: 0 20% 20% 0;
}
.direita {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 90px;
}
.direita p {
  padding-top: 30px;
}
.joinus{
  display: flex;
  height: 918px;
  width: 125%;
  /* background-color: greenyellow; */
}
.container-joinus {
  display: flex; 
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}
.joinus-esquerda,
.joinus-direita {
  width: 100%;
  flex: 1; /* Equal width for both columns */
  padding: 20px;
}
.joinus-esquerda{
  border-radius: 40% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #23155b;
}
.joinus-direita{
  background-color: green;
}
.branco {
  color: #ffffff;
}
.join-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
